@import 'variable';

.form_input {
  width: 60%;
  height: 25px;
  display: block;
  margin: 0px auto 15px;
  font-size: 1.4em;
  -webkit-appearance: none;
}

.label {
  font-size: 1.2em;
  text-align: left;
  width: 60%;
  display: inline-block;
  margin-bottom: 10px;
}

.tooltiptext {
    visibility: hidden;
    width: 200px;
    font-size: 1.2em;
    border-color: $black;
    color: $white;
    background-color: $grey;
    text-align: center;
    border-radius: 6px;
    padding: 5px 11px;
    margin-top: -78px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.submit_btn{
  height: 40px;
  margin: 25px auto;
  @extend .btn;
}

.required_field {
  color:$teal;
  font-size:0.75em;
  width:60%;
  text-align: left;
  margin: 0 auto;
}
