.title {
  font-size: 2em;
}

.form_input {
  width: 60%;
  height: 90px;
  display: block;
  margin: 0px auto 30px;
  -webkit-appearance: none;
}

.label {
  font-size: 2em;
  text-align: left;
  width: 60%;
  display: inline-block;
  margin-bottom: 10px;
}
