.title {
  font-size: 2em;
  margin: 75px auto;
}

.form_input {
  width: 60%;
  height: 90px;
  display: block;
  margin: 0px auto 30px;
  -webkit-appearance: none;
}

.label {
  font-size: 2em;
  text-align: left;
  width: 60%;
  display: inline-block;
  margin-bottom: 10px;
}

.contribute_btn{
  background-color: #1E9E9E;
  color: #FFF;
  text-align: center;
  height: 96px;
  width: 60%;
  font-size: 3.5em;
  font-weight: bold;  margin: 65px auto;
}
