
.scrollit {
    overflow:scroll;
    height:100px;
}

body {
  background-color: #ddd;
}


nav {
  ul {
  list-style-type: none;
  overflow: hidden;
  padding:0px;
  margin:0px;
  background-color: #333;
   li {
    min-width:32%;
    padding:0px;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
      li:hover {
        background-color: #555;
      }
    }
  }
}

.centered {
  text-align: center;
  margin:0 auto;
}

$teal: #1E9E9E;
$white: #FFFAF0;

.btn {
  background-color: $teal;
  color: $white;
  text-align: center;
  height: 96px;
  width: 375px;
  font-size: 20px;
  font-weight: bold;
}
