body {
  font-family: 'Raleway', 'Indie Flower', cursive; }

.title {
  font-size: 2em;
  margin: 75px auto; }

.form_input {
  width: 60%;
  height: 90px;
  display: block;
  margin: 0px auto 30px;
  -webkit-appearance: none; }

.label {
  font-size: 2.5em;
  text-align: left;
  width: 60%;
  display: inline-block;
  margin-bottom: 10px; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 380px;
  font-size: 1.2em;
  border-color: #000;
  color: #fff;
  background-color: #808080;
  text-align: center;
  border-radius: 6px;
  padding: 5px 11px;
  margin-top: -155px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1; }

.tooltip:hover .tooltiptext {
  visibility: visible; }

.contribute_btn {
  background-color: #1E9E9E;
  color: #FFF;
  text-align: center;
  height: 96px;
  width: 60%;
  font-size: 3.5em;
  font-weight: bold;
  margin: 65px auto; }

.home-icon {
  width: 22%; }

nav {
  border-bottom: 1px solid #000;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  text-decoration: none; }
  nav ul {
    min-width: 100%;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px; }
    nav ul li {
      height: 80px;
      padding: 0px;
      display: inline-block;
      transition: 0.3s;
      padding-top: 2%;
      text-align: center; }
      nav ul li li:hover {
        background-color: #555; }
      nav ul li a {
        text-decoration: none;
        color: black; }

li:nth-child(1) {
  min-width: 25%;
  font-size: 1.5em; }

li:nth-child(2) {
  min-width: 45%; }

li:nth-child(3) {
  min-width: 25%; }

th:nth-child(1) {
  width: 29%; }

th:nth-child(2) {
  width: 32%; }

th:nth-child(3) {
  width: 33%; }

table {
  font-size: 2em; }

.payment-table {
  width: 80%;
  margin-top: 5%;
  font-size: 2.5em; }

.inner-table {
  margin: auto;
  width: 100%;
  font-size: 1em; }

.centered {
  text-align: center;
  margin: 0 auto; }

.center {
  text-align: center; }

.progress {
  margin: 0 auto;
  background-image: url("../images/bar_chart.png");
  width: 90%;
  background-size: cover;
  height: 110px;
  margin-bottom: 200px; }

.login_title {
  font-size: 7em;
  margin-top: 30%;
  margin-bottom: 30%; }

.input, .user_input {
  background-color: #FFF;
  font-size: 30px; }

.input::-webkit-input-placeholder, .user_input::-webkit-input-placeholder {
  font-size: 25px;
  color: black;
  padding-left: 7%; }

.user_input {
  height: 96px;
  width: 60%;
  margin: 0 auto;
  display: block; }

.forgot_password {
  font-size: 18px;
  text-align: right;
  width: 80%; }

.btn, .btn_login {
  background-color: #1E9E9E;
  color: #FFF;
  text-align: center;
  height: 96px;
  width: 60%;
  margin: 0 auto;
  font-size: 3.5em;
  font-weight: bold; }

.inner-table tr:nth-child(even) {
  background-color: #bbb; }

.btn_login {
  margin-top: 20%; }

.scrollit {
  overflow: scroll;
  height: 600px; }

.title {
  font-size: 5em; }

#landing {
  background: url("../images/sun.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.progress table {
  width: 100%;
  padding: 35px;
  font-size: 3em; }

.left-align {
  text-align: left; }

.right-align {
  text-align: right; }

.prog-label {
  padding-top: 25px; }

#contributionHistory {
  margin-top: 120px; }

/*# sourceMappingURL=style.css.map */
