body {
  font-family: 'Raleway', 'Indie Flower', cursive;
  max-width: 375px;
  margin: 0 auto; }

.btn, .submit_btn, .btn_login {
  background-color: #1E9E9E;
  color: #FFF;
  text-align: center;
  height: 40px;
  width: 60%;
  font-size: 1em;
  font-weight: bold; }
  .btn a, .submit_btn a, .btn_login a {
    text-decoration: none;
    color: #FFF; }

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.container {
  width: 90%; }

.input, .user_input {
  background-color: #FFF;
  font-size: 1.5em; }

.input::-webkit-input-placeholder, .user_input::-webkit-input-placeholder {
  font-size: 0.5em;
  color: #808080;
  padding-left: 7%; }

.form_input {
  width: 60%;
  height: 25px;
  display: block;
  margin: 0px auto 15px;
  font-size: 1.4em;
  -webkit-appearance: none; }

.label {
  font-size: 1.2em;
  text-align: left;
  width: 60%;
  display: inline-block;
  margin-bottom: 10px; }

.tooltiptext {
  visibility: hidden;
  width: 200px;
  font-size: 1.2em;
  border-color: #000;
  color: #FFF;
  background-color: #808080;
  text-align: center;
  border-radius: 6px;
  padding: 5px 11px;
  margin-top: -78px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1; }

.tooltip:hover .tooltiptext {
  visibility: visible; }

.submit_btn {
  height: 40px;
  margin: 25px auto; }

.landing {
  background: url("../images/mountains.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.login_title {
  font-size: 3em;
  margin-top: 30%;
  margin-bottom: 30%;
  font-weight: bold; }

.user_input {
  height: 40px;
  width: 60%;
  margin: 0 auto;
  display: block; }

.forgot_password {
  font-size: 0.8em;
  text-align: right;
  width: 80%;
  color: #FFF;
  font-weight: bold; }

.btn_login {
  margin-top: 20%;
  height: 40px;
  font-size: 1em; }

.navbar {
  border-bottom: 1px solid #000;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none; }
  .navbar ul {
    min-width: 100%;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px; }
    .navbar ul li {
      height: 25px;
      padding: 0px;
      display: inline-block;
      padding-top: 2%;
      text-align: center; }
      .navbar ul li a {
        text-decoration: none;
        color: #000;
        transition: opacity 0.3s;
        opacity: 1; }
        .navbar ul li a:hover {
          opacity: 0.5; }

li:nth-child(1) {
  min-width: 25%;
  font-size: 1.5em; }

li:nth-child(2) {
  min-width: 45%; }

li:nth-child(3) {
  min-width: 25%; }

.home-icon {
  width: 22%; }

th:nth-child(1) {
  width: 29%; }

th:nth-child(2) {
  width: 32%; }

th:nth-child(3) {
  width: 33%; }

table {
  font-size: 2em; }

.payment-table {
  margin-top: 15%;
  font-size: 1em; }

.inner-table {
  margin: auto;
  width: 100%;
  font-size: 1em; }

.progress {
  background-image: url("../images/bar_chart.png");
  width: 300px;
  background-size: contain;
  height: 40px;
  line-height: 2em; }

.inner-table tr:nth-child(even) {
  background-color: #bbb; }

.scrollit {
  overflow: scroll;
  height: 300px; }

.sharing {
  margin: 3%; }

.fa {
  padding: 1%; }

.progress table {
  width: 100%;
  font-size: 1em; }

.left-align {
  text-align: left;
  padding-left: 25px; }

.right-align {
  text-align: right;
  padding-right: 25px; }

.title_contribution {
  margin-top: 10%;
  font-size: 2em; }

.btn_back {
  white-space: nowrap;
  overflow: hidden; }

h2 {
  margin-top: 60px; }

.sharing {
  margin-top: 80px;
  margin-bottom: 30px; }

/*# sourceMappingURL=style.css.map */
