
body {
  font-family: 'Raleway', 'Indie Flower', cursive;
}
@import 'contribute';

.home-icon {
  width: 22%;
}

nav {
  border-bottom: 1px solid #000;

  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  ul {
  min-width:100%;
  list-style-type: none;
  overflow: hidden;
  padding:0px;
  margin:0px;
   li {
    height: 25px;
    padding:0px;
    display: inline-block;
    transition: 0.3s;
    padding-top: 2%;

      li:hover {
        background-color: #555;
      }
      a {
        text-decoration: none;
        color:black;
      }
    }
  }
}

li:nth-child(1) {
  min-width:25%;
}

li:nth-child(2) {
  min-width:45%;
}

li:nth-child(3) {
  min-width:25%;
}

th:nth-child(1) {
  width:29%;
}

th:nth-child(2) {
  width:32%;
}

th:nth-child(3) {
  width:33%;
}

table {
  font-size: 2em;
}

.payment-table {
  margin-top: 5%;
  font-size: 1em;
}

.inner-table {
  margin: auto;
  width: 100%;
  font-size: 1em;
}

.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

$teal: #1E9E9E;
$white: #FFF;

.progress {
  background-image: url('../images/bar_chart.png');
  width: 300px;
  background-size: contain;
  height: 40px;
}

.login_title{
  font-size: 1em;
  margin-top: 30%;
  margin-bottom: 30%;
}

.input{
  background-color: $white;
  font-size: 30px;
}

.input::-webkit-input-placeholder{
    font-size: 25px;
    color: black;
    padding-left: 7%;
}

.user_input {
  height: 96px;
  width: 60%;
  margin: 0 auto;
  display: block;
  @extend .input;
}

.forgot_password {
  font-size: 18px;
  text-align: right;
  width: 80%;
}

.btn {
  background-color: $teal;
  color: $white;
  text-align: center;
  height: 40px;
  width: 60%;
  font-size: 1.5em;
  font-weight: bold;

}

.inner-table tr:nth-child(even) {
    background-color: #bbb;

}

.btn_login {
  margin-top: 20%;
  @extend .btn;
}

.scrollit {
    overflow:scroll;
    height:600px;
}

.title {
  font-size: 2em;
}

#landing {
  background: url('../images/sun.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.progress {
  table {
    width:100%;
    font-size: 1em;
  }
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.prog-label {
  padding-top: 25px;
}

#contributionHistory {
  margin-top: 10%;
}
